<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>thermostat challenge</title>
  </head>
  <body>

<form action="index.html" method="post">
  <input type="submit" name="new" value="New Thermostat">
</form><br>
<p>The current temperature is "20"</p><br>
<p>Your current energy usage is "Medium-Usage"</p><br>
<p>Power Saver is ON</p><br>
<form action="index.html" method="post">
  <input type="submit" name="powersaver" value="Turn PowerSaver ON/OFF">
</form><br>
<form action="index.html" method="post">
  <input type="text" name="num" placeholder="Reduce by...">
  <input type="submit" name="downTemp" value="Decrease Temperature">
</form><br>
<form action="index.html" method="post">
  <input type="text" name="num" placeholder="Increase by...">
  <input type="submit" name="upTemp" value="Increase Temperature">
</form><br>
<form action="index.html" method="post">
  <input type="submit" name="reset" value="Reset to default temperature">
</form><br>
  </body>
</html>



<!-- Display current temperature -->
<!-- Display status of powersaver -->
<!-- Button to toggle powersaver -->
<!-- Form/Button to decrease temperature
Form/button to increase temperature -->
<!-- Reset button -->
<!-- Display energy usage -->
<!-- Button for new Thermostat() -->
